h1, h2 {
  margin: 40px 0 20px;
}
h2 {
  font-size: 30px;
}
body > header {
  padding: 20px 0;
  padding: 0 0 20px 0;
}
body > footer {
  padding: 90px 0px 0px;
  margin: 90px 0px 0px;
  color: #81817F;
  padding: 30px 0px;
}
.me {
  background: url(http://gravatar.com/avatar/d3e55f4860218d6a2fcb33726c29005f?s=60) no-repeat 50% 0%;
  -moz-border-radius: 52px;
  -webkit-border-radius: 52px;
  border-radius: 52px;
  width: 60px;
  height: 60px;
  float: right;
  margin-left: 30px;
}
body > footer p {
  font-size: 14px;
}
footer {
  padding-top: 30px;
}
article h1, article h2, article h4 {
  font-family: Constantia,Palatino,'Times New Roman',sans-serif;
}
h3, h4 {
  font-weight: normal;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
}
article {
  position: relative;
}
section,
header {
  padding: 20px 0px;
}
p {
  font-size: 16px;
}
body > footer a,
a {
  color: black;
  color: #428bca;
}
h1 a {
  color: #33332e;
  display: block;
}
h1 a:hover, h1 a:focus {
  text-decoration: none;
}
body > header h1 {
  font-size: 16px;
  font-weight: normal; 
  letter-spacing: 1px;
  text-transform: uppercase;
}
.contact {
  line-height: 1.5em;
  color: #666;
  font-size: 14px;
}
article > footer p,
article > header > time {
  font-size: 16px;
  font-style: italic;
}
.article-link {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255,255,255,.4);
  opacity: .2;
  transition: all .6s;
  height: 100%;
  width: 110%;
}
.article-link:hover {
  opacity: 1;
  background-color: transparent;
  border-color: #005580;
}
.article-link:hover:before {
  content: "\2338";
  font-family: "Gill Sans","Lucida Grande",Verdana,sans-serif;
  position: absolute;
  top: 65px;
  left: -80px;
  font-size: 70px;
  opacity: .3;
}
code {
  padding: 2px 4px;
  color: #33332e;
  background-color: #fbfbf8;
  border-radius: 0px;
  font-size: 16px;
}
pre {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  background-color: #fbfbf8;
}
