---
layout: default
---
            <article>
              <header>
                <h1>
                  <a href="{{ post.url }}">{{ page.title }}</a>
                </h1>
                <p class="meta">
                  {{ page.date | date_to_long_string }}
                </p>
              </header>
              <section>
                {{ content }}
              </section>
              <footer>
                <p>
                  <small>Comments? <a href="https://twitter.com/johnmdonahue">@johnmdonahue</a></small>
                </p>
              <!-- <footer id="share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="johnmdonahue" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </footer> -->
              <div class="clearfix"></div>
            </article>
